.default-bg {
  background: $default-color !important;;
}

.primary-bg {
  background: $primary-color !important;;
}

.info-bg {
  background: $info-color !important;;
}

.success-bg {
  background: $success-color !important;;
}

.warning-bg {
  background: $warning-color !important;
}

.danger-bg {
  background: $danger-color !important;
}
